<div class="container">
  <h1>Movie Lists</h1>
  <h3 class="p-2"><%= link_to "Create a list", new_list_path %></h3>

  <div class="d-flex flex-column">
    <% @lists.each do |list| %>
        <%= link_to list_path(list[:id]) do %>
          <div class="card p-3 m-1 shadow-sm genre-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 400, crop: :fill %>')">
            <h3><%= list.name %></h3>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
