// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "link";
@import "genre-card";

h1, h2, h3, p {
  text-shadow: 0 1px 1px $light-gray;
}

h1 {
  font-size: 4em;
}

h3 {
  font-size: 3em;
  color: $light-gray;
}

h4 {
  font-size: 3em;
  color: $cinnabar;
}
